<div class="row">
<div class="col-md-4">
    <!-- Card -->
<div class="card mb-3">
<!-- Card content -->
<div class="card-body">

<!-- Title -->
<h4 class="card-title"><a href="../all_tables">All Tables</a></h4>
<!-- Text -->
<p class="card-text">View all tables</p>
</div>

</div>
<!-- Card -->
</div>
<div class="col-md-4">
    <div class="card mb-3">
            <!-- Card content -->
            <div class="card-body">
        
            <!-- Title -->
            <h4 class="card-title"><a href="../create_table">Create Table</a></h4>
            <!-- Text -->
            <p class="card-text">Add a table</p>
            </div>
        
        </div>
</div>
<div class="col-md-4">
    <div class="card mb-3">
            <!-- Card content -->
            <div class="card-body">
        
            <!-- Title -->
            <h4 class="card-title"><a>Edit Table</a></h4>
            <!-- Text -->
            <p class="card-text">Configure a table</p>            
            </div>
        
        </div>
</div>
</div>