<!-- Full Height Modal Right -->
<div class="modal fade right" id="addStringField" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

<!-- Add class .modal-full-height and then add class .modal-right (or other classes from list above) to set a position to the modal -->
<div class="modal-dialog modal-full-height modal-right" role="document">


<div class="modal-content">
<div class="modal-header">
<h4 class="modal-title w-100 text-center" id="myModalLabel">Add String Field</h4>
<button type="button" class="close" data-dismiss="modal" aria-label="Close">
<span aria-hidden="true">&times;</span>
</button>
</div>
<div class="modal-body">
<!-- Default form subscription -->

<!-- Name -->
<label for="field-name" class="text-center">Field Name</label>
<input type="text" id="field-name" class="form-control mb-4" placeholder="Field name...">

<!-- Required -->
<label for="field-required" class="text-center">Required ? </label>
<input type="checkbox" id="field-required" class="mb-4">

<!--character limit 
<label for="string-char-length" class="text-center">Character Limit</label>
<select id='string-char-length' class="form-control">
<option>Unlimited</option>
<option>100 characters</option>
<option>1000 characters</option>
<option>4000 characters</option>
<option>Other</option>
</select>
character limit -->

<!-- Default form subscription -->
</div>
<div class="modal-footer justify-content-center">
<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
<button type="button" class="btn btn-primary" id="add-field">Add</button>
</div>
</div>
</div>
</div>
<!-- Full Height Modal Right -->