<div class="pos-f-t">
<nav class="navbar navbar-dark bg-dark">
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>
<ul class="navbar-nav ml-auto d-none d-sm-block">
<li class="nav-item">
    <a class="nav-link" href="#">Welcome: Danny <i class="fa fa-user"></i></a>
</li>
</ul>
</nav>
<div class="collapse" id="navbarToggleExternalContent">
<div class="bg-dark p-4">
<p class="text-white">Welcome: Danny <i class="fa fa-user"></i></p>
<p><a href="#">Settings</a></p>
<p><a href="#">Profile</a></p>
<p> <a href="#">Contact Us</a></p>
<p>  <a href="#">Sign out</a></p>
</div>
</div>
</div>