<!DOCTYPE html>
<html lang="en">
<% include ../partials/head %>
<body>
<!--nav-->
<% include ../partials/nav %>
<!--nav-->

<!--main-->
<div class="main">


<div class="container mt-5 px-5">
<% include ../partials/all_tables %>  
</div>


<!--<div class="add-call-btn-wrapper">
<button type="button" data-toggle="modal" data-target="#createTicketModal" class="btn btn-outline-success btn-rounded waves-effect">Create Table</button>
</div> -->
</div>
<!--main-->

<% include ../partials/modals %>

<% include ../partials/footer %>
<% include ../partials/scripts %>
</body>
</html>